@font-face {
    font-family: "iransans";
    font-weight: 200;
    src: url("fonts/iransans/iransans-ultra-light.woff") format("woff");
}

@font-face {
    font-family: "iransans";
    font-weight: 300;
    src: url("fonts/iransans/iransans-light.woff") format("woff");
}

@font-face {
    font-family: "iransans";
    font-weight: 500;
    src: url("fonts/iransans/iransans.woff") format("woff");
}

@font-face {
    font-family: "iransans";
    font-weight: bold;
    src: url("fonts/iransans/iransans-bold.woff") format("woff");
}
*:active, *:focus {
    outline: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
	clear: both;
}
html, body {
    min-height: 100%;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    padding: 0;
    background: #fff url(../images/yosemite.jpg) no-repeat;
    background-attachment: fixed;
    color: #393E41;
    font-family: "iransans",Helvetica,Geneva,Verdana,sans-serif;
    font-size: 0.8333333333rem;
    font-weight: 200;
    line-height: 1.9123;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga", "kern";
    overflow-y: hidden;
    direction: rtl;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.0625) and (min-width: 90rem), only screen and (min-resolution: 102dpi) and (min-width: 90rem), only screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 90rem), only screen and (min-resolution: 1dppx) and (min-width: 90rem) {
    body {
        font-size: 0.9rem;
    }
}
img {
    border-width: 0;
    max-width: 100%;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
*:focus {
    outline: none;
}
a {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: color 0.1s cubic-bezier(0.255, 0.1, 0.255, 1),background-color 0.15s ease-in;
    transition: color 0.1s cubic-bezier(0.255, 0.1, 0.255, 1),background-color 0.15s ease-in;
}
a:hover {
    color: #FF6F59;
}
a.dotted {
    border-bottom: 1px dotted;
}
.dottedlink {
    color: #DB504A;
}
::-moz-selection {
    color: #F5F5F5;
    background-color: #FF6F59;
}
::selection {
    color: #F5F5F5;
    background-color: #FF6F59;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:active, a:hover {
    outline: 0;
}
img {
    border: 0;
}
.navy {color: #014157;}
.green {color: #00A796;}
.orange {color: #FF6F59;}

.form {
    margin: 0;
    padding: 0;
    text-align: right;
}

.form.form--center {
    max-width: 100%;
    min-width: 500px;
    margin: 0 auto;
    padding: 0rem 0px 0 0;
    position: relative;
}

@media screen and (min-width: 980px) {
    .form.form--center {
        width: 30rem;
    }
}
.form--center-head {
    margin-top: 2.5542784163rem;
    text-align: center;
}

.form--center-head .slogan {
    position: relative;
    margin-top: .65em;
    font-size: 1.9em;
    color: #FFF;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 60px;
}

.form--center-head .slogan:after {
    content: '';
    position: absolute;
    bottom: -2rem;
    width: 30%;
    height: 1px;
    background-color: #FFF;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.content-holder {
    position: relative;
    padding: 0;
    margin: 4rem 0;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3);
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    overflow: hidden;
}

.content-holder + .content-holder {
    margin-top: -3.5rem !important;
}
.content-inner {
    padding: 1rem 1.6rem;
}
.content-inner > p{
    word-wrap: break-word;
    margin: 0 0 3.57rem;
}
.form--center-foot {
    text-align: center;
    font-size: .9em;
    color: #838383;
    margin-bottom: 2rem;
    margin: 0 auto;
}

.form--center-foot p {
    text-align: center;
}

.form--center-foot i {
    font-style: normal;
}
.form--center-foot .dotted + .dotted {
    margin-right: 1em;
}
@media screen and (min-width: 980px) {
    .form--center-foot {
        width: 30rem;
    }
}

/* btn */
.button{
    font-family: "iransans",Helvetica,Geneva,Verdana,sans-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    letter-spacing: -.0175em;
    word-spacing: -.025em;
    -moz-osx-font-smoothing: grayscale;
}
.button {
    display: inline-block;
    padding: 2px 15px 5px;
	margin-bottom: 10px;
    min-height: 30px;
    min-width: 4rem;
    background-color: #FAFAFA;
    font-size: 13px;
    line-height: 2;
    text-align: center;
    color: #666;
    font-weight: 300;
    border: 0;
    vertical-align: middle;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.125);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.125);
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all ease-in-out 0.175s;
    transition: all ease-in-out 0.175s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover {
    -webkit-box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125);
    box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125);
}
.button.full {
    display: block;
    padding: .25em;
    font-size: 18px;
    /*width: 100%;*/
}
.button.disabled {
    opacity: .65;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button.navy {
    background-image: -webkit-linear-gradient(left, #012e3e, #014157 40%, #015470);
    background-image: -webkit-gradient(linear, left top, right top, from(#012e3e), color-stop(40%, #014157), to(#015470));
    background-image: linear-gradient(to right, #012e3e, #014157 40%, #015470);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF012E3E', endColorstr='#FF015470', GradientType=1);
    text-shadow: 0 1px 2px rgba(1,46,62,0.9);
    color: white;
}
.button.navy:hover {
    color: #FAFAFA;
    opacity: .90;
    filter: alpha(opacity=90);
}
.button.navy:active,
.button.navy:focus {
    -webkit-box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
    box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
}
.button.green {
    background-color: #00A796;
    text-shadow: 0 1px 2px rgba(0,141,127,0.9);
    color: white;
}
.button.green:hover {
    color: #FAFAFA;
    opacity: .90;
    filter: alpha(opacity=90);
}

.button.green:active,
.button.green:focus {
    -webkit-box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
    box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
}
.button.orange {
    background-color: #FF6F59;
    text-shadow: 0 1px 2px rgba(255,89,64,0.9);
    color: white;
}
.button.orange:hover {
    color: #FAFAFA;
    opacity: .90;
    filter: alpha(opacity=90);
}
.button.orange:active, .button.orange:focus {
    -webkit-box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
    box-shadow: 0 4px 12px -6px rgba(0,0,0,0.15),0px 3px 8px rgba(0,0,0,0.125),0 1.5px 4px rgba(0,0,0,0.24) inset;
}
