/* iModal */
.mod-container{
    position: absolute;
    top: -18px;
    right: 0.0;
    margin: 0.0;
    padding: 0.0;

    width:100%;
    height:100%;

    *zoom: 1;
    z-index: 5;

    overflow: hidden;
}
.mod-container .sec-top{
    display: block;
    height: 60%;
    background-color: #3aba6f;
    position: relative;
}
.mod-container .sec-top .mod-message{
    color: #FFF;
    display: block;
    padding: 0 auto 0 auto;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mod-container .sec-top .mod-message h4{
    font-size: 13px;
    text-align: center;
}
.mod-container .sec-top .mod-message p{
    font-size: 12px;
    text-align: center;
}
.mod-container .sec-bottom{
    height: 40%;
    display: block;
    padding-top: 23px;
    background-color: #FFF;
    position: relative;
}
a.restart{
    height: 29px;
    width: 102px;
    background-color: #3aba6f;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    display: block;
    padding-top: 3px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.restart span{
    color: #FFF;
    font-size: 12px;
}