@charset "utf-8";
@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 300 18px/1.2 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  background: #fecc44;
}

input {
  font: 300 18px/1.2 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  background: #fecc44;
}

a {
  text-decoration: none;
  color: #222;
  &:hover {
    color: #111;
  }
  &:focus {
    outline: none;
  }
}

input {
  display: block;
  width: 335px;
  font-size: 34px;
  line-height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  &:focus {
    border-bottom-color: #000;
    outline: none;
  }
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#wrap {
  width: 340px;
  height: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -62.5px -170px;
}

#hex {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  max-width: 100%;
  height: 31px;
  font: bold 13px/29px "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  background-color: transparent;
  border: 1px solid #222;
  padding: 0 8px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  &:focus, &:hover, &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  svg {
    position: relative;
    top: 2px;
    margin-right: 1px;
    fill: #222;
  }
}

.tweet {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 30px;
  height: 46px;
  margin-left: -15px;
}

.oh a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: 200;
  line-height: 80px;
  text-align: center;
  z-index: 1;
  span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -40px;
  }
}

.light {
  color: #222 !important;
  input {
    color: #222 !important;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    &:focus {
      border-bottom-color: #000;
    }
  }
}

.dark {
  .title {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
  input {
    color: #fff !important;
    border-bottom-color: rgba(255, 255, 255, 0.4);
    &:focus {
      border-bottom-color: #fff;
    }
  }
  .btn {
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
  svg {
    fill: #fff;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #fff !important;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #222;
}

@media only screen and (max-width: 400px) {
  input {
    width: 280px;
    font-size: 28px;
    line-height: 40px;
  }
  #wrap {
    width: 280px;
    margin-left: -140px;
  }
  .title {
    top: 15px;
    left: 15px;
  }
  .feedback a {
    top: 15px;
    right: 15px;
  }
  .tweet {
    bottom: 15px;
    left: 15px;
  }
  .logo {
    bottom: 15px;
  }
}